<article id="<%= dom_id listing %>" class="w-full border-b-[5px] border-main">
  <div class="relative mb-2.5">
    <img
      class="w-full h-auto"
      src="<%= image_path("#{listing.image_url}") %>" alt=""
    />
     <button id="button_<%= listing.id %>" onclick="favItem(this)" class="absolute top-5 right-5 w-10 h-10 rounded-full bg-white">
      <svg width="40px" height="40px" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill="#262936" fill-rule="evenodd" clip-rule="evenodd" d="M0 7.5C0 3.35786 3.35786 0 7.5 0C11.6421 0 15 3.35786 15 7.5C15 11.6421 11.6421 15 7.5 15C3.35786 15 0 11.6421 0 7.5ZM4.14635 5.14648C4.8939 4.39893 6.10591 4.39893 6.85346 5.14648L7.49991 5.79292L8.14635 5.14648C8.8939 4.39893 10.1059 4.39893 10.8535 5.14648C11.601 5.89402 11.601 7.10603 10.8535 7.85358L7.49991 11.2071L4.14635 7.85358C3.39881 7.10604 3.39881 5.89402 4.14635 5.14648Z" />
      </svg>
    </button> 
    <span class="px-4 py-2 absolute bottom-0 right-0 bg-new uppercase font-semibold text-xs">newly listed</span>
  </div>
  <span class="text-[28px]">
    $725,000
  </span>
  <div class="w-max mb-3 ">
    <span class="pr-2 text-sm color-dark font-bold">3 BDS </span>
    <span class="px-2 text-sm color-dark font-bold border-r border-l border-dark">3.5 BA </span>
    <span class="pl-2 text-sm color-dark font-bold">1,950 sqft </span>
  </div>

    <p class="text-xs color-dark mb-6">
      <%= listing.addres %>
    </p>
    <p class="text-[10px] color-dark mb-6">
      Realty ONE Group DocksideNorth
    </p>

    <!-- uncomment to see the link to listing
    <p>
      <%= link_to "Show this listing", listing, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    </p> -->

    <script>

    function favItem(button) {
      const activeColor = 'green';
      const inactiveColor = 'white';
      
      if (button.style.backgroundColor === activeColor) {
        button.style.backgroundColor = inactiveColor;
      } else {
        button.style.backgroundColor = activeColor;
        button.firstElementChild.
        console.log({button})
      }
    }
      
    </script>
</article>
